{% extends "layout.html" %} {% block content %}

<h4>Choose a dining hall</h4>
<div class="landinggrid">
  {% for dhall in dininghalls %}
  <a href="{{ url_for('get_dining_menu_items', diningHall = dhall.id) }}">
    <div class="dhallcard">
      <!-- <img src="{{dhall.image}}" /> -->
      <h3>{{dhall.name}}</h3>
      {% for dhallstat in dininghallstats %} {% if dhall.name == dhallstat.name
      %}
      <p>{{'%0.2f'| format(dhallstat.avg_rating|float)}} stars</p>
      {% endif %} {% endfor %} {% for dailystat in dailystats %} {% if
      dhall.name == dailystat.name %}
      <p>{{dailystat.count}} review(s) in the last day</p>
      {% endif %} {% endfor %}
    </div>
  </a>
  {% endfor %}
</div>

<div class="dhallcard">
  <h4>Top 10 dishes</h4>
  {% for itemstat in menuitemstats %}
  <p>
    {{itemstat.foodname}}: {{'%0.2f'| format(itemstat.avg_rating|float)}} stars
  </p>
  {% endfor %}
</div>
{% endblock %}
