{% extends "layout.html" %} {% block content %}
<form method="POST" class="signup" action="/createuser">
  <div style="margin-right: 15px" class="formelement">
    Name: <input type="text" name="name" />
  </div>
  <div style="margin-right: 15px" class="formelement">
    Uni: <input type="text" name="uni" />
  </div>
  <div style="margin-right: 15px" class="formelement">
    Email: <input type="text" name="email" />
  </div>
  {% if valid == False %}
  <p>Invalid inputs. Please try again</p>
  {% endif %}
  <button id="loginbutton" class="formelement">Sign Up</button>
</form>
{% endblock %}
